{% extends "base.html" %}

{% block title %}Nuevo miembro de la familia - Genealogy{% endblock %}

{% block content %}
<div class="titulo_seccion">Nuevo miembro de la familia {{ request.GET }}</div>
<form action="." method="post">
	<div class="button_form"><input type="submit" value="Crear" /><input type="button" value="Cancelar" onclick="location.href={% url 'family:family' %}" /></div><br>
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
</form>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}
