{% load staticfiles %}

<head>
	<title>Nuevo miembro de la familia {{ form.fam_id }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'family/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cantarell" />
</head>

<h1>Nuevo miembro de la familia {{ family_data.name }}</h1>
<form action="" method="post">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Crear" />
</form>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


