{% extends "base.html" %}

{% block title %}Editando ficha de {{ form.member_name.value }} {{ form.member_surname.value }}{% endblock %}

{% block content %}
<div class="titulo_seccion">Editando ficha de {{ form.member_name.value }} {{ form.member_surname.value }}</div>
<form action="" method="post">
	<div class="button_form"><input type="submit" value="Guardar cambios" /><input type="button" value="Cancelar" onclick="location.href='../'" /></div><br>
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
</form>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}
</div>
