{% load staticfiles %}

<head>
	<title>Editando ficha de {{ form.member_name.value }} {{ form.member_surname.value }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'family/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cantarell" />
</head>

<h1>Editando ficha de {{ form.member_name.value }} {{ form.member_surname.value }}</h1>
<form action="" method="post">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<input type="submit" value="Guardar cambios" /><input type="button" value="Cancelar" onclick="location.history.back()" />
</form>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
