{% extends "base.html" %}

{% block title %}Genealogy - Familias{% endblock %}

{% block content %}

<div class="titulo_seccion">Lista de familias registradas</div>
<input onclick="location.href='{% url 'family:add_family' %}'"  type="submit" value="Nueva Familia"/>
{% if family_list %}
    <ul>
    {% for family in family_list %}
        <li><a href="{% url 'family:family' family.id %}">Familia {{ family.family_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay ninguna familia registrada.</p>
{% endif %}

{% endblock %}
