{% load staticfiles %}

<head>
	<title>Editando ficha de {{ member_data.member_name }} {{ member_data.member_surname }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'family/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cantarell" />
</head>

<h1>Editando ficha de {{ member_data.member_name }} {{ member_data.member_surname }}</h1>
<form action="" method="post">
	{{ MemberCreate }}
</form>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


