{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'family/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cantarell" />
	<title>{{ member_data.member_name }} {{ member_data.member_surname }} - Genealogy</title>
</head>

<body>
<div class="titulo_seccion">Familia {{ family_data.family_name }}</div>
<div class="titulo_miembro">Datos de {{ member_data.member_name }} {{ member_data.member_surname }}</div>
<p><b>Apellidos:</b> {{ member_data.member_surname }}</p>
<p><b>Nombre:</b> {{ member_data.member_name }}</p>
<p><b>Fecha de Nacimiento:</b> {{ member_data.member_birth }}</p>
<p><b>Sexo:</b> {{ member_data.member_sex }}</p>
<input type="submit" onclick="location.href='/family/member/{{ member_data.id }}/edit/'" value="Editar">
</body>
