{% extends "base.html" %}

{% block title %}Familia {{ family.family_name }} - Genealogy{% endblock %}

{% block content %}
<div class="cabecera_seccion">
	<h1 class="titulo_seccion">Miembros de la familia {{ family.family_name }}</h1>
	<input onclick="location.href='/family/{{ family.id }}/member/add'" type="submit" value="Añadir miembro"/><input type="button" onclick="location.href='/family/'" value="Familias"/><input type="button" onclick="location.href='/family/delete'" value="Eliminar Familia"/>
	{% if members %}
		<ul>
		{% for famMember in members %}
			<li><a href="/family/member/{{ famMember.id }}/">{{ famMember.member_surname }}, {{ famMember.member_name }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No hay ningún miembro registrado o dado de alta.</p>
	{% endif %}
</div>
{% endblock %}
