{% extends "base.html" %}

{% block title %}Genealogy - Familia {{ family.family_name }}{% endblock %}

{% block content %}
<div class="cabecera_seccion">
	<h1 class="titulo_seccion">Miembros de la familia {{ family.family_name }}</h1>
	<input type="button" onclick="location.href='{% url 'family:family' %}'" value="Familias"/>
	<input onclick="location.href='{% url 'family:add_member' family.id %}'" type="submit" value="Añadir miembro"/>
	<input type="button" onclick="location.href='{% url 'family:delete_family' family.id %}'" value="Eliminar Familia"/>
	{% if members %}
		<ul>
		{% for famMember in members %}
			<li><a href="{% url 'family:member' famMember.id %}">{{ famMember.member_surname }}, {{ famMember.member_name }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No hay ningún miembro registrado o dado de alta.</p>
	{% endif %}
</div>
{% endblock %}
