{% extends "base.html" %}

{% block title %}{{ member_data.member_name }} {{ member_data.member_surname }} - Genealogy{% endblock %}

{% block content %}
<div class="titulo_seccion">Familia {{ family_data.family_name }}</div>
<div class="titulo_miembro">Datos de {{ member_data.member_name }} {{ member_data.member_surname }}</div>
<p><b>Apellidos:</b> {{ member_data.member_surname }}</p>
<p><b>Nombre:</b> {{ member_data.member_name }}</p>
<p><b>Fecha de Nacimiento:</b> {{ member_data.member_birth }}</p>
<p><b>Sexo:</b> {{ member_data.member_sex }}</p>
<p><b>Foto de perfil:</b> 
{% if member_data.member_profile_image.url == NULL %}
	<img src="/static/{{ member_data.member_profile_image.url }}"></img>{{ member_data.member_profile_image.url }}
{% endif %}
</p>
<p><b>Email:</b> {{ member_data.member_email }}</p>
<input type="submit" onclick="location.href='/family/member/{{ member_data.id }}/edit/'" value="Editar"><input type="button" onclick="location.href='/family/{{ family_data.id }}/'" value="Volver"/>
</div>
{% endblock %}
