{% extends "base_logreg.html" %}

{% block title %}Genealogy - Inicie sesión{% endblock %}

{% block section_title %}Inicie sesión o regístrese{% endblock %}

{% block content %}

	<div class="login">
		<div class="titulo_seccion">Login</div><br>
		<form action="{% url 'django.contrib.auth.views.login' %}" method="POST">
			{% csrf_token %}
			<table id="login_form">
				<tr><td><b>Usuario:</b></td><td>{{ form.username }}</td></tr>
				<tr><td><b>Contraseña:</b></td><td>{{ form.password }}</td></tr>
			</table>
			<br>
			<input id="register_submit" type="button" value="Registrarse" onclick="location.href={% url 'new_user' %}"/><input id="login_button" type="submit" value="Entrar"/><br>
			<input type="hidden" name="next" value="{% url 'family:family' %}" />
		</form>
	</div><br>

{% endblock content %}
