body {
	background-color: wheat;
	color: white;
	text-align: justify;
	font-family: Cantarell;
	width: 100%;
	margin: 0;
	background-image: url('./images/tree-sun.jpg');
	background-position: top center;
	background-attachment: fixed;
	z-index: 0;
}

input:focus, input:active {
	outline: none;
}

input[type="button"],input[type="submit"],button {
	padding: 5px;
	width: auto;
	min-width: 100px;
	font-weight: bold;
}

hr {
	width: 100%;
}

table {
	display: table;
	margin: 0;
	left: 0;
	right: 0;
	text-align: left;
	line-height: 40px;
	vertical-align: text-top;
}

ul {
	list-style-type: none;
}

a {
	width: auto;
	color: white;
}

a:visited, a:before {
	color: white;
}

.footer {
	display: block;
	position: fixed;
	width: 100%;
	bottom: 0;
	text-align: center;
	background-color: black;
	z-index: 1000;
}

.titulo_principal {
	background-color: wheat;
	line-height: 40px;
	width: 100%;
	color: navy;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 140%;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border: 0px;
	border-collapse: collapse;
	z-index: 500;
}

#logout_button,#logout_button:focus,#logout_button::-moz-focus-inner {
	min-width: 40px;
	height: auto;
	position: absolute;
	right: 0;
	background-image: url('images/logout.png');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	border: 0;
	background-color: wheat;
	outline: none;	
}

.login {
	display: block;
	position: relative;
	line-height: 40px;
	left: 0;
	right: 0;
	background-color: rgba(0,100,150,0.8);
	width: 355px;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px;
	border-collapse: collapse;
	z-index: 500;
}

#login_form, #register_form {
	font-size: 85%;
	position: relative;
	margin: auto;
	padding: 0;
	left: 0;
	right: 0;
}

#login_form td, #register_form td {
	padding-left: 5px;
	padding-right: 5px;
	width: 200px;
}

.form_label {
	width: 300;
}

#login_form input, #register_form input  {
	width: 200px;
}

#login_button {
	position: absolute;
	right: 5px;
	margin: auto;
}

/*Sección Registro*/

.registro {
	display: block;
	position: relative;
	font-size: 85%;
	left: 0;
	right: 0;
	background-color: rgba(0,100,150,0.8);
	width: 555px;
	margin: auto;
	margin-top: 20px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px;
	border-collapse: collapse;
	z-index: 500;
}

.register_btnGroup {
	display: inline-block
	width: 100%;
}

#register_submit {
	position: absolute;
	left: 5px;
	margin: auto;
}

#register_cancel {
	position: absolute;
	right: 5px;
	margin: auto;
}

/*FIN Registro*/

.titulo_seccion {
	background-color: wheat;
	line-height: 40px;
	width: 100%;
	color: navy;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 140%;
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border: 0px;
	border-collapse: collapse;
	z-index: 500;
}

.recaptcha {
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

.titulo_miembro {
	background-color: wheat;
	color: navy;
	font-size: 110%;
}

.cuerpo_seccion {
	display: block;
	position: fixed;
	top: 10%;
	bottom: 10%;
	left: 0;
	right: 0;
	background-color: rgba(0,100,150,0.8);
	width: 80%;
	height: auto;
	min-width: 400px;
	margin: auto;
	padding-bottom: 0.1px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px;
	border-collapse: collapse;
	z-index: 500;
	overflow-y: auto;
}

.button_form {
	float: right;
	position: relative;
	top: 0;
	left: 0;
}

.list_family {
	text-align: center;
}
