body {
	background-color: wheat;
	color: white;
	text-align: justify;
	font-family: Cantarell;
	width: 100%;
	margin: 0;
	background-image: url('./images/tree-sun.jpg');
	background-position: top center;
	background-attachment: fixed;
	z-index: 0;
}

.button_form {
	float: right;
}

input[type="button"],input[type="submit"],button {
	padding: 5px;
	width: auto;
	min-width: 100px;
	font-weight: bold;
}

hr {
	width: 100%;
}

.list_family {
	text-align: center;
}

.titulo_seccion {
	background-color: wheat;
	line-height: 40px;
	width: 100%;
	color: navy;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 140%;
}

.cuerpo_seccion {
	background-color: rgba(0,100,150,0.8);
	width: 80%;
	min-width: 500px;	
	left: 0;
	top: 0;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0.1px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px;
	border-collapse: collapse;
}

.titulo_miembro {
	background-color: wheat;
	color: navy;
	font-size: 110%;
}

table {
	text-align: left;
	line-height: 40px;
	vertical-align: text-top;
}

td {
	vertical-align: text-top;
}

#NewMember

div {
	background-color: wheat;
	z-index: 1000;
}

#Family Members
li {
	color: yellow;
	list-style-type: square;
	text-decoration: none;
	background-color: lightcoral;
}

a {
	width: auto;
}

a:visited {
	color: white;
}