{% load staticfiles %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static 'family/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cantarell" />
	<title>Inicio - Genealogy</title>
</head>

<body class="list_family">
<div class="cuerpo_seccion">
<div class="titulo_seccion">Bienvenido a Genealogy</div>
<div id="login">Login: <input type="text" value="" /><br>
Contraseña: <input type="password" value="" /><br>
<input type="button" value="Entrar"/><input type="button" value="Registro"/></div>
</div>
</body>
